## Basics

In [1]:
print("Hello")
print('Hello')
print("Hello",5)
print("Hello" + str(5))

Hello
Hello
Hello 5
Hello5

In [4]:
2/3

0.6666666666666666

In [6]:
a = 5.9
type(a)

float

In [7]:
a = "hello"
type(a)

str

In [8]:
b = 10.4
type(b)

float

In [9]:
condition = 1
while condition < 10 :
    print(condition)
    condition += 1

1
2
3
4
5
6
7
8
9

In [10]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [12]:
x = 5
if x == 5:
    print(x)
else:
    print("Not x")

5

'Function'

'Function'

## Function

In [13]:
def example():
    print("this will run")
    z = 3 + 9
    print(z)

In [14]:
example()

this will run
12

In [15]:
def add(num1, num2):
    answer = num1 + num2
    return answer

In [17]:
add(50, 6)

56

## File Operations

In [19]:
text = "Sample text\nNew line!"
savefile = open('examplefile.csv', 'w') # w, r, a
savefile.write(text)
savefile.close()

In [20]:
append = "\nnew info"
appendfile = open('examplefile.txt', 'a')
appendfile.write(append)
appendfile.close()

In [21]:
readme = open('examplefile.txt', 'r')
print(readme.read())
readme.close()

Sample text
New line!
new info

## Collections

### list

In [22]:
x = [1, 2, 4 ,5 , 6, 9, 7, 8, 3]
x

[1, 2, 4, 5, 6, 9, 7, 8, 3]

In [23]:
x.insert(2,55)
x

[1, 2, 55, 4, 5, 6, 9, 7, 8, 3]

In [24]:
x.append(10)
x

[1, 2, 55, 4, 5, 6, 9, 7, 8, 3, 10]

In [25]:
x.remove(6)
x

[1, 2, 55, 4, 5, 9, 7, 8, 3, 10]

In [26]:
x.sort()
x

[1, 2, 3, 4, 5, 7, 8, 9, 10, 55]

In [27]:
x.reverse()
x

[55, 10, 9, 8, 7, 5, 4, 3, 2, 1]

In [28]:
x[2:5]

[9, 8, 7]

### Dictionary

In [29]:
exDict = {'Jack': 15, 'Bob': 21, 'Kevin': 17}

In [30]:
exDict.keys()

dict_keys(['Kevin', 'Jack', 'Bob'])

In [31]:
exDict.values()

dict_values([17, 15, 21])

In [32]:
exDict['Jack']

15

In [33]:
exDict1 = {'Jack': [15, 'black', 'NW']}

In [34]:
exDict1['Jack'][1]

'black'

In [35]:
exDict1

{'Jack': [15, 'black', 'NW']}

## Pandas

In [36]:
import pandas as pd

In [37]:
web_stats = {
    'Day' : [1,2,3,4,5],
    'Visitors' : [42,44,45,46,48],
    'Bounce' : [65,57,58,59,80]
}

In [38]:
df = pd.DataFrame(web_stats)
df.head()

   Bounce  Day  Visitors
0      65    1        42
1      57    2        44
2      58    3        45
3      59    4        46
4      80    5        48

In [ ]:
employee_df = pd.read_excel('employees.xlsx', sheet_name='Sheet1')
employee_df.head()

In [ ]:
employee_df.columns

In [ ]:
employee_df = employee_df.drop("COMMISSION_PCT", axis=1)
employee_df.head()

In [ ]:
employee_df['EMPLOYEE_ID']

In [ ]:
employee_df[['EMPLOYEE_ID', 'FIRST_NAME']]

In [ ]:
employee_df.to_csv('emp.csv', index=False)

## panda from db

In [ ]:
import dbms
import pandas as pd

In [ ]:
user = "scott"
password = "tiger"
service_name = "orcl"
host = "10.188.193.152"
port = "1521"

In [ ]:
con = dbms.connect.oracle(user, password, service_name, host, port)
cs = con.cursor()

In [ ]:
cs.execute("select * from EMPLOYEES")

columns = [x[0] for x in cs.description]

pdf = pd.DataFrame(cs.fetchall(), columns=columns)

In [ ]:
pdf.head()

## numpy